.card_box {
    position: relative;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.62);
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}
.card_box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.card_box:hover .icon i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}
.card_box .inner {
    padding: 5px 10px 0 10px;
}
.card_box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}
.card_box p {
    font-size: 15px;
}
.card_box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}
.card_box .card_box_footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}
.card_box:hover .card_box_footer {
    background: rgba(0, 0, 0, 0.3);
}
